<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5433/tyke-schoolar-management</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <mapping class="cu.edu.cujae.scholarManagement.domain.AnnoEntity"/>
        <mapping class="cu.edu.cujae.scholarManagement.domain.AnnoGrupoEntity"/>
        <mapping class="cu.edu.cujae.scholarManagement.domain.AnnoSemestreEntity"/>
        <mapping class="cu.edu.cujae.scholarManagement.domain.AsignaturaEntity"/>
        <mapping class="cu.edu.cujae.scholarManagement.domain.AsignaturaProfesorEstudianteEntity"/>
        <mapping class="cu.edu.cujae.scholarManagement.domain.AsignaturaTemaEntity"/>
        <mapping class="cu.edu.cujae.scholarManagement.domain.CarreraEntity"/>
        <mapping class="cu.edu.cujae.scholarManagement.domain.CursoEntity"/>
        <mapping class="cu.edu.cujae.scholarManagement.domain.CursoAnnoEntity"/>
        <mapping class="cu.edu.cujae.scholarManagement.domain.EstudianteEntity"/>
        <mapping class="cu.edu.cujae.scholarManagement.domain.EstudianteGrupoEntity"/>
        <mapping class="cu.edu.cujae.scholarManagement.domain.FacultadEntity"/>
        <mapping class="cu.edu.cujae.scholarManagement.domain.FacultadCursoEntity"/>
        <mapping class="cu.edu.cujae.scholarManagement.domain.GrupoEntity"/>
        <mapping class="cu.edu.cujae.scholarManagement.domain.ProfesorEntity"/>
        <mapping class="cu.edu.cujae.scholarManagement.domain.SemestreEntity"/>
        <mapping class="cu.edu.cujae.scholarManagement.domain.SemestreAsignaturaEntity"/>
        <mapping class="cu.edu.cujae.scholarManagement.domain.TemaEntity"/>
        <mapping class="cu.edu.cujae.scholarManagement.dto.AnnoDto"/>
        <mapping class="cu.edu.cujae.scholarManagement.dto.AnnoGrupoDto"/>
        <mapping class="cu.edu.cujae.scholarManagement.dto.AnnoSemestreDto"/>
        <mapping class="cu.edu.cujae.scholarManagement.dto.AsignaturaDto"/>
        <mapping class="cu.edu.cujae.scholarManagement.dto.AsignaturaProfesorEstudianteDto"/>
        <mapping class="cu.edu.cujae.scholarManagement.dto.AsignaturaTemaDto"/>
        <mapping class="cu.edu.cujae.scholarManagement.dto.CarreraDto"/>
        <mapping class="cu.edu.cujae.scholarManagement.dto.CursoDto"/>
        <mapping class="cu.edu.cujae.scholarManagement.dto.CursoAnnoDto"/>
        <mapping class="cu.edu.cujae.scholarManagement.dto.EstudianteDto"/>
        <mapping class="cu.edu.cujae.scholarManagement.dto.EstudianteGrupoDto"/>
        <mapping class="cu.edu.cujae.scholarManagement.dto.FacultadDto"/>
        <mapping class="cu.edu.cujae.scholarManagement.dto.FacultadCursoDto"/>
        <mapping class="cu.edu.cujae.scholarManagement.dto.GrupoDto"/>
        <mapping class="cu.edu.cujae.scholarManagement.dto.ProfesorDto"/>
        <mapping class="cu.edu.cujae.scholarManagement.dto.SemestreDto"/>
        <mapping class="cu.edu.cujae.scholarManagement.dto.SemestreAsignaturaDto"/>
        <mapping class="cu.edu.cujae.scholarManagement.dto.TemaDto"/>
        <mapping class="cu.edu.cujae.scholarManagement.domain.SignatureCareerEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>